.form {
  margin: 20px;
  border: solid 4px bisque;
  padding: 20px;
}
.inputFields {
  margin: 15px;
}
.successMsg {
  color: rgb(0, 255, 55);
  margin: 10px 0px;
  font-size: 25px;
  font-weight: bold;
}
.errorMsg {
  color: red;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 10px 0px;
}
